<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.scalpr.a2-relabel-nightly</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/natalieharrington/Documents/Scalpr Trading/Scalpr7/.venv/bin/python</string>
        <string>/Users/natalieharrington/Documents/Scalpr Trading/Scalpr7-a2-relabel/a2_relabel_nightly.py</string>
        <string>--worktree</string>
        <string>/Users/natalieharrington/Documents/Scalpr Trading/Scalpr7-a2-relabel</string>
        <string>--live-root</string>
        <string>/Users/natalieharrington/Documents/Scalpr Trading/Scalpr7</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/natalieharrington/Documents/Scalpr Trading/Scalpr7</string>
    <key>StartCalendarInterval</key>
    <array>
        <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>21</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Weekday</key><integer>2</integer><key>Hour</key><integer>21</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Weekday</key><integer>3</integer><key>Hour</key><integer>21</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>21</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Weekday</key><integer>5</integer><key>Hour</key><integer>21</integer><key>Minute</key><integer>0</integer></dict>
    </array>
    <key>ProcessType</key>
    <string>Background</string>
    <key>StandardOutPath</key>
    <string>/Users/natalieharrington/Documents/Scalpr Trading/Scalpr7/a2_relabel_launchd.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/natalieharrington/Documents/Scalpr Trading/Scalpr7/a2_relabel_launchd.err.log</string>
</dict>
</plist>
